
.header-contaier {
    text-align: center;
    background: rgb(236, 221, 221);
    padding: 20px 0;
}

.main-heading {
    color: yellowgreen;
    font-size: 40px;
}

.resonable-salary {
    color: #0dcaf0;
    font-weight: bold;
}

.resonable-salary-main {
    font-size: 20px;
}